html, body {
    height: 100%;
}

body {
    position: relative;
    padding-top: 75px;
}

.bg-dark {
    background: rgb(5,37,72);
    background: linear-gradient(90deg, rgba(5,37,72,1) 0%, rgba(68,27,130,1) 43%, rgba(116,3,140,1) 100%);
}

#navbar li{
    padding-left: 20px;
    padding-right: 20px;
}

#navbar-icon {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 10px;
}

.nav-item {
    font-size: 16.5px;
    margin: auto;
    opacity: 1;
    transition: 0.3s;
}

.homepage {
    background: rgb(254,230,252);
    background: radial-gradient(circle, rgba(254,230,252,1) 0%, rgba(240,233,251,1) 100%);
    border-radius: 5px;
    text-align: left;
    padding: 30px;
}

.button {
    background-color: #bb99ff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.button-27 {
    appearance: none;  
    background-color: black;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

#recommendations:hover, #home:hover {
    background: rgb(25,54,128);
    background: linear-gradient(90deg, rgba(25,54,128,1) 0%, rgba(42,47,137,1) 100%);
    border-radius: 5px;
}

#toptracks:hover {
    background: rgb(51,54,153);
    background: linear-gradient(90deg, rgba(51,54,153,1) 0%, rgba(59,48,156,1) 100%);
    border-radius: 5px;
}

#topartists:hover {
    background: rgb(64,45,159);
    background: linear-gradient(90deg, rgba(64,45,159,1) 0%, rgba(77,40,164,1) 100%);
    border-radius: 5px;
}

#discover:hover {
    background: rgb(77,40,164);
    background: linear-gradient(90deg, rgba(77,40,164,1) 0%, rgba(98,41,188,1) 100%);
    border-radius: 5px;
}

#spotifylogin:hover {
    background: rgb(99,38,192);
    background: linear-gradient(90deg, rgba(99,38,192,1) 0%, rgba(110,37,193,1) 100%);
    border-radius: 5px;
}

#profile:hover {
    background: rgb(109,33,196);
    background: linear-gradient(90deg, rgba(109,33,196,1) 0%, rgba(123,30,200,1) 100%);
    border-radius: 5px;
}

#logout, #login {
    position: absolute;
    right: 10px;
    top: 8px;
}

#logout:hover, #login:hover {
    background: rgb(155,8,196);
    background: linear-gradient(90deg, rgba(155,8,196,1) 0%, rgba(168,3,201,1) 100%);
    border-radius: 5px;
}

.nav-link:link, .nav-link:visited, .nav-link:focus  {
    color: white;
    text-decoration: none;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.copyright {
    width: 50%;
    margin: auto;
    text-align: center;
}

a.copyright:link, a.copyright:visited, a.copyright:focus {
    color: white;
    text-decoration: none;
}

a.copyright:hover {
    color: darkgray;
    text-decoration: none;
}

.socials {
    position: absolute;
    right: 10px;
    display: flex;
}

.contact {
    position: absolute;
    left: 10px;
    display: flex;
    width: 23%;
}

a.contact:link, a.contact:visited, a.contact:focus {
    color: white;
    text-decoration: none;
}

a.contact:hover {
    color: darkgray;
    text-decoration: none;
}

.profile-page {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card {
    border-radius: 10px;
}

.card-body {
    background-color: #00004d;
    color: white;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.54);
    color: lightgray;
    text-decoration: none;
}

.card-title {
    text-decoration: none;
    color: white;
}