body {
    position: relative;
}

#navbar li{
    padding-left: 20px;
    padding-right: 20px;
}

#navbar-icon {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 10px;
}

.nav-item {
    font-size: 16.5px;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.center {
    width: 100%;
    text-align: center;
}

a.copyright:link, a.copyright:visited, a.copyright:focus {
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a.copyright:hover {
    color: darkgray;
    text-decoration: none;
}

.socials {
    width: 100%;
    position: absolute;
    z-index: 10;
    /* margin-right: 10px; */
    right: 10px;
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}