<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


/*
    Use last.fm to autocorrect user input, then from there feed that to spotify API
*/
<main>
    <div class="container">
        <form action="/searchSong" method="get">
            <div class="mb-4">
                <label class="form-label" for="InputSong">Type a song to get similar recommendations</label>
                <input type="text" name="InputSong" class="form-control">
            </div>  
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <%
            tracks.forEach(function(track){ %>
                <tr>
                    <td>
                        
                    </td>
                </tr>

            })
        %>
    </div>
</main>

<%- include ('../partials/footer') %>