<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


/*
    Use last.fm to autocorrect user input, then from there feed that to spotify API
*/
<main>
    <div class="container">
        <form action="/recommend" method="get">
            <div class="mb-4">
                <label class="form-label" for="song-input">Type a song to get similar recommendations</label>
                <input type="text" name="song-input" class="form-control">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>