<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h2>Register</h2>
    <form action="/register" method="POST">

        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" />

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" />

        <label for="usernname">Username:</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" />


        <input type="submit" value="Register" />
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>