<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container mt-5 mb-4">
    <div class="text-center mb-4">
      <h1 class="display-4">Welcome to BeatBuddy!</h1>
      <p class="lead">Your Personalized Music Journey Awaits</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card mb-3">
          <div class="card-body text-center">
            <a href="/toptracks"><h2 class="card-title">Explore Your Top Tracks</h2></a> 
            <p>Rediscover old favorites and find new tunes tailored to your taste, all based on your Spotify listening history.</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body text-center">
            <a href="/discover"><h2 class="card-title">Find Concerts Nearby</h2></a> 
            <p>Stay updated on live music events and concerts in your area that match your musical preferences.</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body text-center">
            <a href="/topartists"><h2 class="card-title">Discover Your Top Artists</h2></a>
            <p>Delve into the world of your favorite musicians and keep up with their latest releases and discographies.</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body text-center">
            <a href="/recommendations"><h2 class="card-title">Receive Recommendations</h2></a>
            <p>Simply search any song of your choosing and uncover a world of similar music.</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body text-center">
            <h2 class="card-title">Connect and Share</h2>
            <p>Share your music discoveries and concert plans with friends, enhancing your social music experience.</p>
          </div>
        </div>

        <div class="my-4 text-center">
          <a href="/spotifylogin" class="btn btn-primary btn-lg">Connect Your Spotify Account and Begin</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
