<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <a href="/spotifylogin">Log into spotify</a>
      
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
<script> src="Music-Recommendation-App\Code_and_components\index.js"</script>